{% extends 'base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/post.css">
{% endblock %}
{% block body %}
    <div class="contenu ">
        <article class="post">
            <h1>{{ post.title }}</h1>
            <h2>{{ post.subTitle }}</h2>
            <p>{{ post.content }}</p>
            <div class="info">
                <p class="date">Auteur : {{ post.user.pseudo }}</p>
                <p class="date">Date de création: {{ post.createdAt | date('d/m/Y H:i:s') }} </p>
                <p class="date">Date de modification: {{ post.updatedAt | date('d/m/Y H:i:s') }}</p>
            </div>

        </article>
        {% if user is not null %}
            <div class="commentaire">
                <form method="post">
                    <h2>Ajouter un commentaire</h2>
                    {% if errors is defined %}
                        {% for key, value in errors %}
                            <p class="alert alert-{{key}}">
                                {{ value }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    <input type="texte" placeholder="Titre du commentaire" name="comment[title]" required>
                    <textarea id="" cols="30" rows="10"
                              placeholder="Entrer ici le contenu de votre commentaire ...." name="comment[content]" required></textarea>
                    <input type="submit">
                </form>
            </div>
        {% else %}
            <div class="commentaire">
                <h3>Vous devez être connecté pour ajouter un commentaire</h3>
            </div>
        {% endif %}
        {% for comment in comments %}
        <article class="commentaire">
            <h3>{{ comment.title }}</h3>
            <p>{{ comment.content }}
            </p>
            <div class="info">
                <p class="date">Auteur : {{ comment.user.pseudo }}</p>
                <p class="date">Date du commentaire: 20/02/2023</p>
            </div>
            {% if user.id == comment.user.id %}
                <a href="/comment/edit/{{ comment.id }}">Modifier mon commentaire</a>
            {% endif %}

        </article>
        {% endfor %}
    </div>
{% endblock %}