{% extends 'base.html.twig' %}
{% block title %}Titre post{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/public/assets/style/post.css">
{% endblock %}
{% block body %}
    <div class="contenu">
    <article class="post" >
    <h1>{{ post.title }}</h1>
        <h2>{{ post.subTitle }}</h2>
            <p>{{ post.content }}</p>
            <div class="info">
                <p class="date">Auteur : {{ author.pseudo }}</p>
                <p class="date">Date de création: {{  post.createdAt | date('d/m/Y H:i:s') }} </p>
                <p class="date">Date de modification: {{ post.updatedAt | date('d/m/Y H:i:s') }}</p>
            </div>

            </article>
            <div class="commentaire">
                <form action="">
                    <h2>Ajouter un commentaire</h2>
                    <input type="texte" placeholder="Titre du commentaire">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Entrer ici le contenu de votre commentaire ...."></textarea>
                    <input type="submit">
                </form>
            </div>

            <article class="commentaire" >
                <h3>Un commentaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,

                </p>
                <div class="info">
                    <p class="date">Auteur : Itsatsu</p>
                    <p class="date">Date du commentaire: 20/02/2023</p>
                </div>

            </article>
            <article class="commentaire" >
                <h3>Un commentaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,

                </p>
                <div class="info">
                    <p class="date">Auteur : Itsatsu</p>
                    <p class="date">Date du commentaire: 20/02/2023</p>
                </div>

            </article>
            <article class="commentaire" >
                <h3>Un commentaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,

                </p>
                <div class="info">
                    <p class="date">Auteur : Itsatsu</p>
                    <p class="date">Date du commentaire: 20/02/2023</p>
                </div>

            </article>
    </div>
{% endblock %}