{% extends 'base.html.twig' %}
{% block title %}Titre post{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/post.css">
{% endblock %}
{% block body %}
    <div class="contenu ">
        <article class="post">
            <h1>{{ comment.title }}</h1>
            <p>{{ comment.content }}</p>
            <div class="info">
                <p class="date">Auteur : {{ author.pseudo }}</p>
                <p class="date">Date de création: {{ comment.createdAt | date('d/m/Y H:i:s') }} </p>
                <p class="date">Date de modification: {{ comment.updatedAt | date('d/m/Y H:i:s') }}</p>
            </div>
            <div style="display: flex; justify-content:space-around">
                <a href="/administration/comments/validation/{{ comment.id }}">Valider</a>
                <a href="/administration/comments/delete/{{ comment.id }}">Supprimer </a>
            </div>
        </article>
    </div>
{% endblock %}